<div class="detail-section">
    <div class="container-fluid">
        <!--when this component is loaded the data for product fetched from 
            db by the time .html code for this component has been rendered and product
            is undefined that's why we are getting error but for ProductListComponent
            we have used *ngFor and it is smart enough to handle undefined/null values  -->
        <img src="{{product.imageUrl}}" class="detail-img">
        <h3>{{product.name}}</h3>
        <div class="price">
            {{product.unitPrice | currency:'USD'}}
        </div>
        <button (click)="addToCart()" class="btn btn-primary btn-sm">
            Add to cart
        </button>
        <hr>
        <h4>Description</h4>
        <p>{{product.description}}</p>
        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>

</div>

